.cart-wrapper {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    width: 100vw;
}
.return-button {
    position: absolute; /* Position relative to the nearest positioned ancestor */
    top: 0; /* Dock to the top */
    left: 0; /* Dock to the left */
    margin: 30px;
}

.cart {
    display: flex;
    flex-direction: column; /* Stack inputs and button */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Optional styling */
    padding: 50px;
    padding-bottom: 10px;
}