/* Login.css */
  
  .loginWrapper {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    width: 100vw;
  }

  .login {
    display: flex;
    flex-direction: column; /* Stack inputs and button */
    align-items: center;
    background-color: rgba(74, 72, 72, 0.9); /* Optional styling */
    padding: 50px;
    padding-bottom: 10px;
  }
  
  .login input {
    display: flex;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
  }

  .login button {
    display: flex;
    margin:auto;
  }

  #newAccount {
    margin-top: 30%;
  }